<div class="container">
  {{> nav}}
  <div class="title mb-0 py-3">
    <h1 class="display-4 text-center m-2">Recipe Details</h1>
    <h2 class="text-center">Make a meal</h2>
  </div>


  <div class="row">
    <div class="col-12">


      <div class="instruction-div border-box border-thin">
        <h1 class="text-center mt-4 mb-3">{{data.title}}</h1>
        <div class="row">
          <img class="recipe-image-details border-box border-thin mx-auto" src={{data.image}} alt="recipe image">
        </div>

        <hr>
        <div class="instruction-ingredients mt-4">
          <h2 class="text-center">Ingredients:</h2>
          <table class="w-50 text-center mx-auto">
            <tr>
              <th>Name</th>
              <th>Quantity</th>
            </tr>
            {{#each data.extendedIngredients}}
            <tr>
              <td>{{name}}</td>
              <td>{{amount}} {{unit}}</td>
            </tr>
            {{/each}}
          </table>
        </div>
        <br>
        <hr>
        <br>
        <div class="instruction-steps p-4">
          <h2 class="text-center">Instruction Steps:</h2>
          {{#each data.analyzedInstructions.[0].steps}}
          <p><span class="instruction-step-count">{{number}}.</span> {{step}}</p>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/recipes.js"></script>